.marca{color: rgb(228, 244, 228); font-size: 7rem; font-style: oblique; text-align: center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.slogan{color: white; font-size: 3rem; text-align: center;}
.textopie{font-size: 4rem; text-align: center;}
.textoprincipal{font-size: 3rem; text-align: center; border-style: double; background-color: gray; color: white; font-style: oblique;}
.cabeza{background-repeat: no-repeat; background-image: url(https://static.nationalgeographic.es/files/styles/image_3200/public/spain_ep105_lr_europefromabove_04.png?w=1600);}
footer{background-color: black;}
.textopie{color: rgb(246, 246, 246);}
.carousel-inidcators{size: 10rem}
.div{border-style: double;}
